#rouge_button {
    background-color: red;
}

#vert_button {
    background-color: green;
}

#bleu_button {
    background-color: blue;
}

#yellow_button {
    background-color: yellow;
}

#orange_button {
    background-color: orange;
}

#purple_button {
    background-color: purple;
}

#black_button {
    background-color: black;
}

#white_button {
    background-color: white;
}
